# Ignore build artifacts
target
iso
linux-6.14.4
# Ignore temporary files
*.tmp
*.log
*.tar.xz
# Ignore IDE-specific files
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Rust-specific files
Cargo.lock
